$clr-off-white: #F4FFFB;

$clr-skyblue: rgb(136, 201, 255);
$clr-cobalt-100: rgb(84, 167, 234);
$clr-cobalt-200: rgb(61, 107, 216);
$clr-cobalt-300: rgb(54, 77, 209);


$clr-navy: #11377d;
$clr-navy-100: #0E1555;
$clr-navy-200: #050b3a;
$clr-navy-300: #010522;

$clr-blue-100: #ceece5;
$clr-blue-200: #AED1CF;
$clr-blue-300: #A6DFD2;
$clr-blue-400: #71A5A5;
$clr-blue-500: #008F8F;

$clr-pink-100: #76a5c2;
