@import './base/reset';

 @font-face {
  font-family: 'Space Grotesk';
  src: url('/assets/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf');
 }

body {
  font-family: 'Space Grotesk';
  overflow:hidden;
}

.layout-container {
  width: 100dvw;
  height: 100dvh;
}

main {
  margin: 0 auto;
  padding: 3rem;
  width: fit-content;
  text-align: center;
}

.timer-and-buttons-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.timer-container {
  font-size: min(25vw, 12rem);
  font-weight: 700;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

button {
  border-style: none;
  background-color: transparent;
  cursor: pointer;
}

.timer-button-container,
.option-container {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}

.option-button {
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.timer-button {
  border-radius: 50%;
}

.timer-button:hover {
  opacity: 0.9;
}

.timer-button__disabled {
  filter: brightness(0.7) saturate(50%);
  cursor:default;
  pointer-events: none;
}

.timer-button__play {
  width: 8rem;
  height: 8rem;
}

.timer-button__skip,
.timer-button__reset {
  width: 5rem;
  height: 5rem;
}

.finish-cycle-stats {
  padding: 2rem 4rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 2rem;
}

.lightmode-icon-container {
  position: absolute;
  left: 1rem;
  top: 1rem;
  z-index: 3;
  cursor: pointer;
}

.settings-icon-container {
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 4;
  cursor: pointer;
}

.settings-container {
  width: 25vw;
  height: 100vh;
  position: absolute;
  right: -25vw;
  border-left:  2px solid;
  transition: 0.25s right;
  padding: 6rem 2rem;
  z-index: 3;
}

@media (max-width: 1200px) {
  .settings-container {
    width: 33vw;
    right: -33vw;
  }  
}

@media (max-width: 800px) {
  .settings-container {
    width: 100vw;
    right: -100vw;
  }  
}

.settings-container-active {
  right: 0;
}

.cycle-editor {
  font-weight: 600;
  font-size: 1.25rem;
  input {
    width:6rem;
    font-size: 2rem;
    border: none;
    border-radius: 8px;
    padding: 0.5rem 1rem;
  }

  input[type=checkbox] {
    width: 2rem;
    height: 2rem;
  }
}

form > * + * {
    margin-top: 2rem;
}

.form-btn {
  font-size: 1.25rem;
  font-weight: 500;
  padding: 0.5rem 2rem;
  border-radius: 8px;
}

.form-row {
  display: flex;
  gap: 1rem;
  align-items: center;
}