* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.5s;
}

.light .background {
  background-color: #F4FFFB;
}
.light .background-accent {
  background-color: #008F8F;
}
.light .background-accent-2 {
  background-color: #A6DFD2;
}
.light .background-light {
  background-color: #AED1CF;
}
.light .background-light-2 {
  background-color: #DEF3EE;
}
.light .background-contrast {
  background-color: #0E1555;
}
.light .text-main {
  color: #0E1555;
}
.light .text-accent {
  color: #008F8F;
}
.light .text-light {
  color: #71A5A5;
}
.light .text-contrast {
  color: #F4FFFB;
}
.light .fill-light {
  fill: #71A5A5;
}
.light .fill-accent {
  fill: #008F8F;
}
.light .border-accent {
  border-color: #008F8F;
}

.dark .background {
  background-color: #010522;
}
.dark .background-accent {
  background-color: #0E1555;
}
.dark .background-accent-2 {
  background-color: #050b3a;
}
.dark .background-light {
  background-color: #11377d;
}
.dark .background-light-2 {
  background-color: #050b3a;
}
.dark .background-contrast {
  background-color: #010522;
}
.dark .text-main {
  color: rgb(61, 147, 216);
}
.dark .text-accent {
  color: rgb(61, 107, 216);
}
.dark .text-light {
  color: rgb(54, 77, 209);
}
.dark .text-contrast {
  color: #F4FFFB;
}
.dark .fill-light {
  fill: rgb(54, 77, 209);
}
.dark .fill-accent {
  fill: rgb(61, 107, 216);
}
.dark .border-accent {
  border-color: #11377d;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("/assets/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf");
}
body {
  font-family: "Space Grotesk";
  overflow: hidden;
}

.layout-container {
  width: 100vw;
  height: 100vh;
  transition: 0.5s;
}

main {
  margin: 0 auto;
  padding: 3rem;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}

.timer-and-buttons-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.timer-container {
  font-size: 12rem;
  font-weight: 700;
}

button {
  border-style: none;
  background-color: transparent;
  cursor: pointer;
}

.timer-button-container,
.option-container {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}

.option-button {
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.timer-button {
  border-radius: 50%;
}

.timer-button:hover {
  opacity: 0.9;
}

.timer-button__disabled {
  filter: brightness(0.7) saturate(50%);
  cursor: default;
  pointer-events: none;
}

.timer-button__play {
  width: 8rem;
  height: 8rem;
}

.timer-button__skip,
.timer-button__reset {
  width: 5rem;
  height: 5rem;
}

.finish-cycle-stats {
  padding: 2rem 4rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 2rem;
}

.lightmode-icon-container {
  position: absolute;
  left: 1rem;
  top: 1rem;
  z-index: 3;
  cursor: pointer;
}

.settings-icon-container {
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 3;
  cursor: pointer;
}

.settings-container {
  width: 25vw;
  height: 100vh;
  position: absolute;
  right: -25vw;
  border-left: 2px solid;
  transition: 0.25s;
  padding: 6rem 2rem;
}

.settings-container-active {
  right: 0;
}

.cycle-editor {
  font-weight: 600;
  font-size: 1.25rem;
}
.cycle-editor input {
  width: 6rem;
  font-size: 2rem;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
}
.cycle-editor input[type=checkbox] {
  width: 2rem;
  height: 2rem;
}

form > * + * {
  margin-top: 2rem;
}

.form-btn {
  font-size: 1.25rem;
  font-weight: 500;
  padding: 0.5rem 2rem;
  border-radius: 8px;
}

.form-row {
  display: flex;
  gap: 1rem;
  align-items: center;
}/*# sourceMappingURL=index.css.map */