* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-bold {
  font-weight: 700;
}

.light .background {
  background-color: #F4FFFB;
}
.light .background-accent {
  background-color: #008F8F;
}
.light .background-accent-2 {
  background-color: #A6DFD2;
}
.light .background-light {
  background-color: #AED1CF;
}
.light .background-light-2 {
  background-color: #DEF3EE;
}
.light .background-contrast {
  background-color: #0E1555;
}
.light .text-main {
  color: #0E1555;
}
.light .text-accent {
  color: #008F8F;
}
.light .text-light {
  color: #71A5A5;
}
.light .text-contrast {
  color: #F4FFFB;
}
.light .text-emphasize {
  color: #010522;
}
.light .fill-main {
  fill: #0E1555;
}
.light .fill-white {
  fill: #F4FFFB;
}
.light .fill-light {
  fill: #A6DFD2;
}
.light .fill-accent {
  fill: #008F8F;
}
.light .stroke-accent {
  stroke: #008F8F;
}
.light .stroke-light {
  stroke: #71A5A5;
}
.light .border {
  border: 2px solid #0E1555;
  border-radius: 5px;
}
.light .border-accent {
  border-color: #008F8F;
}
.light .border-bottom {
  border-bottom: 5px solid #0E1555;
}

.dark .background {
  background-color: #010522;
}
.dark .background-accent {
  background-color: #0E1555;
}
.dark .background-accent-2 {
  background-color: #050b3a;
}
.dark .background-light {
  background-color: #11377d;
}
.dark .background-light-2 {
  background-color: #050b3a;
}
.dark .background-contrast {
  background-color: #010522;
}
.dark .text-main {
  color: rgb(84, 167, 234);
}
.dark .text-accent {
  color: rgb(61, 107, 216);
}
.dark .text-light {
  color: rgb(54, 77, 209);
}
.dark .text-contrast {
  color: #AED1CF;
}
.dark .text-emphasize {
  color: rgb(136, 201, 255);
}
.dark .fill-main {
  fill: rgb(84, 167, 234);
}
.dark .fill-white {
  fill: rgb(136, 201, 255);
}
.dark .fill-accent {
  fill: rgb(61, 107, 216);
}
.dark .fill-light {
  fill: rgb(136, 201, 255);
}
.dark .stroke-accent {
  stroke: rgb(61, 107, 216);
}
.dark .stroke-light {
  stroke: rgb(54, 77, 209);
}
.dark .border-accent {
  border-color: #11377d;
}
.dark .border {
  border: 2px solid rgb(84, 167, 234);
  border-radius: 5px;
}
.dark .border-bottom {
  border-bottom: 5px solid rgb(84, 167, 234);
}

@font-face {
  font-family: "Space Grotesk";
  src: url("/assets/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf");
}
body {
  font-family: "Space Grotesk";
}

.overall-container {
  overflow: hidden;
  position: relative;
}

.layout-container {
  width: 100vw;
  min-height: 100vh;
}

main {
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  width: 100%;
  height: 100%;
}

.timer-and-buttons-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding-top: 3rem;
}

.timer-container {
  font-size: min(25vw, 12rem);
  font-weight: 700;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

button {
  border-style: none;
  background-color: transparent;
  cursor: pointer;
}

.timer-button-container,
.option-container {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}

@media (max-width: 500px) {
  .option-container {
    flex-direction: column;
    gap: 3rem;
  }
}
.option-button {
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.timer-button {
  border-radius: 50%;
  aspect-ratio: 1/1;
}

.timer-button:hover {
  opacity: 0.9;
}

.timer-button__disabled {
  filter: brightness(0.7) saturate(50%);
  cursor: default;
  pointer-events: none;
}

.timer-button__play {
  width: min(8rem, 30vw);
  height: min(8rem, 30vw);
}

.timer-button__skip,
.timer-button__reset {
  width: min(5rem, 20vw);
  height: min(5rem, 20vw);
}

.finish-cycle-stats {
  padding: 2rem 4rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 2rem;
}

.ui-icon {
  width: min(2.5rem, 10vw);
  height: min(2.5rem, 10vw);
  cursor: pointer;
}

.ui-icon-container {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.settings-icon-container {
  position: relative;
  z-index: 4;
}

.settings-container {
  width: 25vw;
  height: 100%;
  position: absolute;
  right: -800px;
  border-left: 2px solid;
  transition: 0.33s ease-in-out right;
  padding: 2rem;
  z-index: 3;
  overflow-y: auto;
}

@media (max-width: 1200px) {
  .settings-container {
    width: 50vw;
  }
}
@media (max-width: 800px) {
  .settings-container {
    width: 100vw;
  }
}
.settings-container-active {
  right: 0;
}

.settings-menu {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  font-weight: 600;
  font-size: 1rem;
}
.settings-menu h3 {
  margin-bottom: 1rem;
}
.settings-menu input[type=number] {
  width: 6rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
}
.settings-menu input[type=checkbox] {
  width: 2rem;
  height: 2rem;
}

.radio-set input {
  margin-right: 0.5rem;
}
.radio-set label {
  margin-right: 1rem;
}

form > * + * {
  margin-top: 2rem;
}

.form-btn {
  font-size: 1.25rem;
  font-weight: 500;
  padding: 0.5rem 2rem;
  border-radius: 8px;
}

.form-row {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.sign-in-form label {
  display: block;
  text-align: left;
  margin-bottom: 0.5rem;
}

.sign-in-form input {
  font-size: 1.5rem;
  padding: 0.25rem;
}

.sign-in-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  margin-top: 2rem;
}

.sign-in-button {
  width: 100%;
  padding: 0.5rem 0;
  border-radius: 5px;
  font-size: 1.125rem;
}

.user-auth-buttons {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.user-auth-tab {
  box-sizing: content-box;
  font-size: 1.5rem;
  width: 300px;
  border-bottom: 5px solid transparent;
  padding: 0.5rem 0;
}

.back-link {
  align-self: left;
  text-decoration: none;
  color: inherit;
  font-size: 1.125rem;
  padding: 0.5rem 1rem;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  width: max(60vw, 100%);
  margin: 0 auto;
  border: 1px solid rebeccapurple;
}

.stats-options {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.stats-logout {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.stats-logout button {
  font-size: inherit;
}

.stats-value-list {
  display: flex;
  gap: 1rem;
}

.stats-value-item {
  list-style: none;
  padding: 2rem;
  border-radius: 8px;
}

.stats-value-item > * {
  display: block;
}

.stats-value {
  font-size: 2rem;
  font-weight: 600;
}

.stats-section h2 {
  margin-bottom: 2rem;
}

.stats-container > * + * {
  margin-top: 5rem;
}

.custom-tooltip {
  padding: 0.5rem;
  border-radius: 4px;
}/*# sourceMappingURL=index.css.map */